@typeparam TEntity;
@typeparam TProp;
@inherits FieldBase<TEntity, TProp>;

<div class="mb-3">
    <label for="@PropertyName" class="form-label">@DisplayName</label>
    <textarea class="form-control" id="@PropertyName" rows="3" readonly>@PropertyValue</textarea>
</div>
