@page "/clients"
@attribute [Authorize]
@inject ConfigurationDbContext DbContext;

<QuickGrid Items="@DbContext.Clients" Class="table table-hover table-striped" Pagination="@_pagination">
    <PropertyColumn Property="c => c.ClientName" Title="Client Name" Sortable="true" IsDefaultSort="SortDirection.Ascending" />
    <PropertyColumn Property="c => c.ClientId" Title="Client Id" Sortable="true" />
    <TemplateColumn Title="Protocol Type">
        <span class="badge bg-primary">@context.ProtocolType</span>
    </TemplateColumn>
    <TemplateColumn Title="Enabled">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" checked="@context.Enabled" disabled>
        </div>
    </TemplateColumn>
    <PropertyColumn Property="c => c.Created" Title="Created (UTC)" Sortable="true" />
    <TemplateColumn Title="" Align="Align.Right">
        <a href="clients/@context.Id" class="btn btn-link btn-sm" role="button">Details</a>
    </TemplateColumn>
</QuickGrid>
<PageSelector Pagination="_pagination"/>

@code {
    private readonly PaginationState _pagination = new() {ItemsPerPage = 10};
}
