::deep  .quickgrid[theme=default] > tbody > tr > td {
    height: 48px;
    padding: 0.1rem calc(0.4rem + var(--col-gap)) 0.1rem 0.4rem;
    vertical-align: middle;
}
::deep .w-15{
    width: 15%;
}

::deep .w-10{
    width: 10%;
}

::deep .w-25{
    width: 25%;
}

