@page "/scopes";
@attribute [Authorize]
@inject ConfigurationDbContext DbContext;

<QuickGrid Items="@DbContext.ApiScopes" Class="table table-hover table-striped" Pagination="_pagination">
    <PropertyColumn Property="c => c.DisplayName" Title="Display Name" Sortable="true" IsDefaultSort="SortDirection.Ascending" />
    <PropertyColumn Property="c => c.Name" Title="Name" Sortable="true" />
    <TemplateColumn Title="Enabled">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" checked="@context.Enabled" disabled>
        </div>
    </TemplateColumn>
    <PropertyColumn Property="c => c.Created" Title="Created (UTC)" Sortable="true" />
    <TemplateColumn Title="" Align="Align.Right">
        <a href="scopes/@context.Id" class="btn btn-link btn-sm" role="button">Details</a>
    </TemplateColumn>
</QuickGrid>
<PageSelector Pagination="_pagination"/>

@code{
    private readonly PaginationState _pagination = new() {ItemsPerPage = 10};
}