@typeparam TEntity;
@typeparam TProp;
@inherits FieldBase<TEntity, TProp>;

<div class="mb-3">
    <label for="@PropertyName" class="form-label">@DisplayName</label>
    <input type="text" class="form-control" id="@PropertyName" value="@PropertyValue" readonly>
</div>
